.header {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    display: flex;
    padding:  20px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.body1 {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px;
    gap: 36px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    background: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
}

.info2 {
    height: 300px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px;
    background: gray;

}

h4 {
    color:#F9FAF8;
    text-align: center;
}

h2 {
    text-align: center;
    
}

.body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 32px;
    height: 250px;
}

.child1 {
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info3 {
    border: 8px #3882f6;
    background: #E5E7EB;
    width: 150px;
    height: 150px;
    
}

.normal {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    text-align: justify;
    margin: 0;
}

.credit {
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
    margin: 0;
}

.body3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E7EB;
    height: 300px;
    padding: 8px;
}

.body4 {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    
}

.body4inside {
    height: 150px;
    width: 800px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #3882f6;
}

.calltoaction {
    margin: 0;
    font-size: 24px;
    font-weight: 600;

}

.calltoaction2 {
    margin: 0;
}

.buttons {
    
    display: flex;
    align-items: center;
    
}

.button2 {
    border: 2px solid white;
    border-radius: 8px;
}

.footer {
    display: flex;
    height: 100px;
    background: #1F2937;
    align-items: center;
    justify-content: center;
}

h5 {
    color: white;
    
}